body
{
	margin: 0px auto;
	padding: 0;
}
.main
{
	width: 1350px;
	height: 70px;
	margin:0px auto;
	padding: 0;
}
.slider
{
	width: 1350px;
	height: 650px;
	margin:0px auto;
	padding: 0;

}
.contain
{
	width: 1350px;
	height: 500px;
	margin:0px auto;
	padding: 0;

}
.conup
{
	width: 1350px;
	margin:0px auto;
	padding: 0;
}
.conup1
{
	width: 1350px;
	margin:0px auto;
	padding: 0;
}
.conup2
{
	width: 1350px;
	height: 500px;
	margin:0px auto;
	padding: 0;
}
.conup3
{
	width: 1350px;

	margin:0px auto;
	padding: 0;
}
.conup4
{
	width: 1350px;
	height: 500px;
	
	margin:0px auto;
	padding: 0;
}
.conup4
{
	width: 1350px;
	
	
	margin:0px auto;
	padding: 0;
}
.conup5
{
	width: 1350px;
	
	
	margin:0px auto;
	padding: 0;
}

.conup6
{
	width: 1350px;
	
	
	margin:0px auto;
	padding: 0;
}
.conup7
{
	width: 1350px;
	
	
	margin:0px auto;
	padding: 0;
}



